# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.bat

run/*
!run/**/
run/ArsenalMod/*
run/config/*
run/crash-reports/*
run/logs/*
run/saves/*
run/world/*
run/production/net.arsenalnetwork.arsenalmod.Project-Z-Mod.main/*
!run/ArsenalMod/**/

# gradle
build
.gradle

# other
eclipse
formatter/
classes/
libs/
build/
*.DS_Store*
